doctype html
html
    head
        meta(charset='utf-8')
        title Hot Boys
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Consolas')
    body
        .header
            .container
                h1 
                    a(href='/') CI/CD RAPA 가계부
                a().text-muted Myhome : CI/CD Team 4
                //- div
                //-     a.btn.btn-primary(href='/login') 로그인
                //-     a.btn.btn-secondary(href='/signup') 회원가입
                if userData
                    div
                        | #{userName} 의 가계부
                        a.btn.btn-danger(href='/logout') 로그아웃
                else
                    div
                        a.btn.btn-primary(href='/login') 로그인
                        a.btn.btn-secondary(href='/signup') 회원가입
        .container.posts.mt-0
            include new.pug
            include list.pug
